trigger:
  branches:
    include:
      - main

pool:
  name: maneesh3456

stages:
- stage: stage1
  displayName: install_init_fmt_validate
  jobs:
  - job: terraform_install_init
    displayName: terraform_install_init
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.6.6'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
        backendServiceArm: 'maneeshNewSPDEC25'
        backendAzureRmResourceGroupName: 'maneesh22'
        backendAzureRmStorageAccountName: 'maneeshstorage01'
        backendAzureRmContainerName: 'maneeshcontainer'
        backendAzureRmKey: 'maneesh.tfstate'


